@import "tailwindcss";
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE and Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
  }

  /* Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }
}

body{
  margin: 0;
  padding: 0;
  color: white;
  background-color: #212121;
  background-size: 20px 20px;
  background-image: radial-gradient(#ffffff33 1px,#00091d 1px);
}