@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --a:0;
    --temp:#5d5d5d;
    --bg1:#000000;
    --bg2:#121212;
    --bg3:#1f1f1f;
    --bg4:#121212;
    --ftclr1:white;
    --ftclr2:#adabab;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--bg1);
    color: var(--ftclr1);
}

.icon{
    filter: invert(1);
}



/* header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px 0;
}
header div{
    display: flex;
    gap: 5px;
}

.left{
    align-items: center;
}

.left > img{
padding: 0 20px;
height: 35px;

}
#Hleft1{
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: var(--bg2);
    border-radius: 25px;
}
#Hleft1 img{
    margin: 0 10px;
    height: 25px;
}

#Hleft2{
    align-items: center;
    margin: 0 10px;
    padding: 5px 10px;
background-color: #1f1f1f;
border-radius: 30px;
width: 450px;
height: 40px;
}
#Hleft2 img{
    height: 30px;
    width: 40px;
}
#Hleft2 p{
    font-size: 30px;
    color: var(--temp);
}
#Hleft2 input{
    width: 370px;
    background-color: transparent;
    height: 35px;
    border: none;
    color: var(--ftclr1);
    font-size: 16px;
    outline: none;
}
#Hleft2 input::placeholder{
    font-size: 16px;
}


header .right{
    display: flex;
    align-items: center;
    
}
header .right p{
    color: var(--ftclr1);
    font-size: 30px;
    
}
#Hright1{
    align-items: center;
    padding:0 15px;
}
#Hright2{
    align-items: center;
}


#Hright1 a{
    text-decoration: none;
    min-width: 80px;
    font-weight: bold;
    color: var(--ftclr2);
}
#Hright2 a{
    text-decoration: none;
    min-width: 90px;
    font-weight: bold;
    color: var(--ftclr2);
}

#Hright2 a{
    font-weight: bold;
    color: var(--ftclr2);
    margin: 0 20px;
}
#signup{
    font-weight: bold;
    margin: 0 10px;
    color: var(--ftclr2);
    background-color: transparent;
    border: none;
    font-size: 16px;
    min-width: 60px;
    font-family: 17px;
}

#login{
    justify-content: center;
    width: 125px;
    
}
#login button{
    height: 50px;
    background-color: var(--ftclr1);
    width: 120px;
    
    border-radius: 25px;
    margin: 2px;
    font-size: 17px;
    font-weight: bold;
    border: none;
}
#login button:hover{
    height: 51px;
    width: 125px;
    font-size: 18px;
    align-items: center;
}

#Hright1 a:hover,#Hright2 a:hover,#signup:hover{
    color: var(--ftclr1);
    font-size: 17px;
}



/* maincontent */



main{
    display: flex;
    margin:0 10px;
    gap: 10px;
}
main > *{
    border-radius: 5px;
}
aside{
    background-color: var(--bg2);
    width: 25%;
}
#aside1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}
#aside1 img{
    height: 20px;
}

section{
    background-color: var(--bg4);
    width: 75%;
}












@media (max-width: 1200px) {
    
}

@media (max-width: 500px) {
    
    
}