nav>ul >li >a{
  width: 50px;
  transition: all ease-in-out .1s;
}
input{
  background: white;
  
  border-radius: 5px;
}
nav>ul >li >a:hover{
width: 50px;
font-weight: bolder;
transition: all ease-in-out .1s;
}