@import "tailwindcss";

body {
   margin: 0;
  padding: 0;
  color: white;
  background-color: #979797;
  background-size:30px 30px;
  background-image: radial-gradient(#37373799 1px,#16163b 1px);
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

 textarea::-webkit-scrollbar {
        display: none;            
    }