@import "tailwindcss";

:root{
    
    --primary:#1E90FF;
    --secondary:#FF6347;
    --background:#F9F9F9;
    --text:#333333;
    --success:#4CAF50;
    --warning:#FFC107;
    --error:#F44336;
}

.dark {
    --darkColor1: #0A1931;
    --darkColor2: #01A3D6;
    --darkColor3: #4A7FA7;
    --darkColor4: #B3CFE5;
    --darkColor5: #F6FAFD;
}

body {
   margin: 0;
  padding: 0;
  color: white;
  background-color: #8fb3e2;
  background-size:30px 30px;
  /* background-image: radial-gradient(#37373799 1px,#16163b 1px); */
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

 textarea::-webkit-scrollbar {
        display: none;            
    }